.ant-collapse-content{
    overflow: visible;
}

.language-bash {
    background-color: white; 
    border: none;
}

.form-container {
    .ant-affix {
        overflow: scroll;
        height: 100%;
    }
}