.language-bash {
    background-color: white;
    border: none;
}

.new-event-form {
  margin-top: 10px;
  margin-bottom: 20px;
}

@media screen and (max-width: 500px) {
  .form-container {
    padding: 5px;
    margin-bottom: 100px;
  }
}