<div class="form-group col-md-12" id="adopter-member-form-group">
  <label for="districtAdopter">MOC appearing at event (adopter)</label>
  <input type="text" class="form-control input-underline" id="districtAdopter" placeholder="Full name" value="" autocomplete="off">
  <span id="member-help-block" class="help-block">Only first name and last name, not titles</span>
</div>
