
<button type="button" class="btn btn-secondary " id="delete" data-id="{{eventId}}" data-path="UserSubmission" data-toggle="tooltip" data-placement="top" title="For events that were canceled or wrong">Delete</button>
<button type="submit" class="btn btn-blue" id="approve-button" data-toggle="tooltip" data-placement="top" data-id="{{eventId}}" data-path="UserSubmission" title="Will be published live to the site">Approve</button>
