<div class="form-group col-md-12">
  <label class="sr-only" for="Location">Location</label>
  <input type="text" class="form-control input-underline" id="Location" placeholder="Name of location (eg. Gary Recreation Center)" value="">
</div>
<div class="form-group col-md-12" id=location-form-group>
    <input type="text" class="form-control" placeholder="Street address" id="address" {{#if address}} value="{{address}}" {{/if}}>
    <span id="address-feedback" class="help-block">Enter a valid street address, if there isn't one, leave this blank</span>

</div><!-- /form-group -->
<div class="form-group col-md-12">
  <label class="sr-only" for="addressType">Address Type</label>
  <input class="sr-only" type="text" class="" id="addressType" placeholder="Address type" value="street" readonly>
</div>
<div class="form-group col-md-12">
  <label class="sr-only" for="locationCheck">Location Check</label>
  <input class="sr-only" type="text" class="text-success" id="locationCheck" placeholder="please geocode" readonly>
</div>
