<div class=text-info>
  <div class="form-group col-md-12">
    <label class="" for="phoneNumber">Phone Number format: (555) 555-5555</label>
    <input type="tel" class="form-control" id="phoneNumber" placeholder="Phone Number" value="{{phoneNumber}}">
    <span id="phoneNumber-error" class="help-block error-message hidden">Please enter a valid phone number</span>
  </div>
  <div class="form-group">
    <label class="sr-only" for="addressType">Address Type</label>
    <input type="text" class="sr-only" id="addressType" placeholder="Address type" value="state" readonly>
  </div>
  <div class="form-group">
    <label class="sr-only" for="locationCheck">Location Check</label>
    <input type="text" class="text-success sr-only" id="locationCheck" placeholder="please geocode" {{#if lat}}value="Location is valid"{{/if }} readonly>
  </div>
</div>
